Source: magic-trace
Section: devel
Priority: optional
Maintainer: Jane Street <opensource-contacts@janestreet.com>
Build-Depends: debhelper-compat (= 12), opam, ocaml-dune
Standards-Version: 4.5.1
Homepage: https://github.com/janestreet/magic-trace
Vcs-Browser: https://github.com/janestreet/magic-trace
Vcs-Git: https://github.com/janestreet/magic-trace.git
Rules-Requires-Root: no

Package: magic-trace
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Easy Intel Processor Trace visualizer
