name: build

on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu_x64_8_cores
        ocaml-version:
          - '5.2.0+ox'

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.opam
          key: ${{ matrix.os }}-opam-${{ matrix.ocaml-version }}-1

      - name: Install musl-compatible kernel headers
        run: |
          mkdir musl-kernel
          curl -L https://github.com/sabotage-linux/kernel-headers/archive/refs/tags/v4.19.88-1.tar.gz | \
            tar -xz -C musl-kernel --strip-components=1
          echo "C_INCLUDE_PATH=$(pwd)/musl-kernel/x86/include" >> "$GITHUB_ENV"
          echo "CC=musl-gcc" >> "$GITHUB_ENV"

      - name: "Install apt packages"
        run: |
          sudo apt-get update
          sudo apt-get install -y bubblewrap musl musl-tools libucl1 rsync

      - name: Install upx
        run: |
          # The version that comes with focal is broken for musl binaries, so we have to download
          # from another location.
          wget http://ftp.debian.org/debian/pool/main/u/upx-ucl/upx-ucl_3.96-2_amd64.deb
          sudo dpkg -i upx-ucl_3.96-2_amd64.deb

      - name: Build zlib with musl
        run: |
          mkdir musl-zlib
          curl -L https://zlib.net/zlib-1.3.1.tar.gz | tar -xz -C musl-zlib --strip-components=1
          cd musl-zlib
          CC=musl-gcc ./configure --libdir=/usr/lib/x86_64-linux-musl --includedir=/usr/include/x86_64-linux-musl
          make -j$(nproc)
          sudo make install

      - name: Build zstd with musl
        run: |
          mkdir musl-zstd
          curl -L https://github.com/facebook/zstd/releases/download/v1.5.5/zstd-1.5.5.tar.gz | \
            tar -xz -C musl-zstd --strip-components=1
          cd musl-zstd
          CC=musl-gcc make -j$(nproc)
          sudo make INCLUDEDIR=/usr/include/x86_64-linux-musl LIBDIR=/usr/lib/x86_64-linux-musl install

      - name: Use OCaml ${{ matrix.ocaml-version }}
        run: |
          sudo wget -O /usr/local/bin/opam https://github.com/ocaml/opam/releases/download/2.5.0/opam-2.5.0-x86_64-linux
          sudo chmod a+x /usr/local/bin/opam

          export OPAMYES=1
          export OPAMJOBS=$(($(nproc) + 2))
          echo "OPAMYES=1" >> "$GITHUB_ENV"
          echo "OPAMJOBS=$OPAMJOBS" >> "$GITHUB_ENV"

          opam init --bare -yav https://github.com/ocaml/opam-repository.git
          opam switch set ${{ matrix.ocaml-version }} 2>/dev/null || \
            opam switch create ${{ matrix.ocaml-version }} --repos ox=git+https://github.com/oxcaml/opam-repository.git,default

      - name: Vendor Basement
        run: |
          mkdir ../basement
          curl -L 'https://github.com/janestreet/basement/archive/c657898128a97dcdfbe4b25d79fd0de2e1e5218f.tar.gz' | \
            tar -C ../basement -xz --strip-components=1
          git -C ../basement apply $PWD/vendor/basement-semaphore-bug-fix.patch
          opam pin basement ../basement

      - name: Vendor Core_unix
        run: |
          mkdir ../core_unix
          curl -L 'https://github.com/janestreet/core_unix/archive/63390a3f75376156e77ed49d6cc07ca48a90dd53.tar.gz' | \
            tar -C ../core_unix -xz --strip-components=1
          git -C ../core_unix apply $PWD/vendor/core-unix-musl-compatibility.patch
          opam pin core_unix ../core_unix

      - run: opam install ./magic-trace.opam --deps-only

      - run: opam install ocamlformat
      - run: opam exec -- dune build @fmt

      - run: opam exec -- make PROFILE=static

      - run: opam exec -- dune runtest

      - name: Compress magic-trace executable
        run: |
          cp _build/install/default/bin/magic-trace .
          ls -l magic-trace
          strip magic-trace
          upx -9 magic-trace

      - uses: actions/upload-artifact@v4
        with:
          name: magic-trace
          path: magic-trace
          if-no-files-found: error

      - name: Upload to GitHub releases
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: magic-trace
          asset_name: magic-trace
          tag: ${{ github.ref }}
          overwrite: true
